<div class="container">
  <h1>{{ title }}</h1>

  <nav class="mb-4">
    <a routerLink="books" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="me-2">Dashboard</a>
    <a routerLink="books/create" routerLinkActive="active" class="me-2">Create</a>
    <a routerLink="books/search" routerLinkActive="active" class="me-2">Search</a>
  </nav>

  <router-outlet></router-outlet>
</div>

<!--
TODO
- Redirect
- Links
  - Liste zur Detailseite
  - Detailseite zur Liste
- Detailseite
  - ISBN aus der URL
  - HTTP
  - HTML für die Anzeige
- Lazy Loading
-->
